.wrapperLoading {
    position: relative;
    width: 100%;
    height: 441px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    overflow: hidden;
    min-width: 1110px;
}

.wrapperFinish {
    position: relative;
    width: 100%;
    height: 441px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
    min-width: 1110px;
}

.girlLoading {
    position: absolute;
    right: 20px;
    bottom: 0px;
    z-index: 2;
}

.arrowLoading {
    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 1;
    animation: rotation 7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.girlFinish {
    position: absolute;
    right: 100px;
    bottom: 0px;
    z-index: 2;
}

.arrrowFinish {
    position: absolute;
    right: 0px;
    bottom: 160px;
    animation: move-right 3s infinite linear;
}

@keyframes move-right {
    0% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(100%);
    }
}

.order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 540px;
}

.order h1 {
    font-weight: 600;
    font-size: 24px;
    color: rgba(38, 71, 148, 1);
    gap: 20px;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 77px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(236, 245, 255, 1);
}

.discription {
    width: 315px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.prices h2 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(38, 71, 148, 1);
    text-align: end;
}

.prices h3 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(38, 71, 148, 0.4);
    text-align: end;
}

.prices h4 {
    font-size: 10px;
    font-weight: 400;
    color: rgba(38, 71, 148, 0.4);
    text-decoration: line-through;
    text-align: end;
}

.flex {
    display: flex;
    gap: 10px;
}

.summ {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 20px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    color: rgba(38, 71, 148, 0.4);
}

.allPrice {
    font-size: 20px;
    font-weight: 500;
    color: rgba(38, 71, 148, 1);
}