.welcomeContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../../../img/bcgWelcome.svg');
    width: 100%;
    background-size: cover;
    padding: 20px 60px 12px 60px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.contacts {
    display: flex;
    gap: 30px;
}

.link {
    display: flex;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.welcomeContent {
    position: relative;
    width: 100%;
    min-width: 1400px;
    height: 100%;
    mask-image: url('../../../img/blueMask.png');
    background-color: #6CBBE3;
    mask-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.logo {
    width: 170px;
    height: 150px;
    position: absolute;
    top: 20px;
    z-index: 99;
}

.girl {
    margin-left: auto;
    height: 100%;
    width: auto;
}

.footer {
    font-size: 14px;

}

.redline {
    border-right: 1px solid rgba(197, 26, 26, 1);
    padding-right: 10px;
}

.footerText {
    padding-left: 10px;
}

.welcomeTextContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 60px;
}

.mainText {
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 10px;
}

.text {
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 20px;
}

.subText {
    color: #FFFFFF;
    font-size: 28px;
}