.icon {
    transform: scaleY(-1);
}

.categoryMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.MainText {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: rgba(38, 71, 148, 1);
}

.categoryMiddle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.flex:hover {
    background-color: #ebebeb;
}

.showTrue {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showFalse {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
}