.cart {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: calc(25% - 23px);
    min-width: 264px;
    height: 423px;
    padding: 10px;
    background-color: white;
}

.productImg {
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    width: 100%;
    padding: 0px 10px;
}

.priceArea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainPrice {
    font-weight: 500;
    font-size: 20px;
    color: rgba(38, 71, 148, 1);
}

.subPrice {
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
    color: rgba(38, 71, 148, 0.4);
}

.have {
    font-weight: 400;
    font-size: 16px;
    color: rgba(114, 194, 247, 1);
}

.havent {
    font-weight: 400;
    font-size: 16px;
    color: rgba(197, 26, 26, 1);
}

.discription {
    height: 72px;
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(4, 13, 35, 1);
}

.buttonArea {
    height: 44px;
    width: 100%;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(197, 26, 26, 1);
    border-radius: 10px;
    border: none;
    gap: 10px;
    cursor: pointer;
}

.disableAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(197, 26, 26, 0.4);
    border-radius: 10px;
    border: none;
    gap: 10px;
    cursor: pointer;
}

.disableAdd {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.add span {
    color: white;
    font-weight: 400;
    font-size: 16px;
}