.flexContainer {
    display: flex;
    width: 100%;
    background-color: rgba(245, 245, 245, 1)
}

.wrapper {
    display: flex;
    width: 100%;
    background-image: url(/digital/_next/static/media/bcgWelcome.b15cbfa4.svg);
    background-size: 100%;
    background-repeat: repeat;
    flex-direction: column;
}