.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
}

.authorization {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 47vh;
    background-color: rgba(77, 104, 135, 1);
    padding: 40px 45px 55px 45px;
    justify-content: space-between;
}

.h1 {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.h1 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 0.8;
}

.panel {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
    gap: 20px;
}

.panelMenu {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}

.hover {
    cursor: pointer;
}

.hover:hover {
    color: rgba(197, 26, 26, 1);
}

.buttons {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.enter {
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(197, 26, 26);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: none;
    cursor: pointer;
}

.enter:hover {
    box-shadow: 0px 0px 14px 0px rgba(197, 26, 26, 0.6);
}

.enter:active {
    background-color: rgba(161, 18, 18, 1);
}

.logo {
    position: absolute;
    left: 90px;
    bottom: -20px;
    pointer-events: none;
}

.totalQuantity {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 100px;
    color: black;
    bottom: 10px;
    left: -5px;
}

.totalQuantity span {
    position: absolute;
    left: 4px;
    font-size: 10px;
    font-weight: 400;
    color: rgba(4, 13, 35, 1);
}

.basketImg2 {
    position: absolute;
    left: -10px;
}

@media (max-width:1200px) {
    .sticky {
        display: none;
    }
}