.flexContainer {
    display: flex;
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
}

.wrapper {
    position: relative;
    width: 100%;
    background-image: url('../../../img/pawsBCG.svg');
    background-size: cover;
    background-repeat: repeat;
    padding: 20px 60px 0 60px;
}

.footer {
    position: absolute;
    font-size: 14px;
    bottom: 10px;
    z-index: 5;
}

.redline {
    border-right: 1px solid rgba(197, 26, 26, 1);
    padding-right: 10px;
}

.footerText {
    padding-left: 10px;
}