.wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(236, 245, 255, 1);
    margin-top: 40px;
    padding: 40px 0px 0px 353px;
    gap: 20px;
}

.h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(38, 71, 148, 1);
}

.flex {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media (max-width: 900px) {
    .wrapper {
        padding: 0;
        padding-left: 160px;
        margin-top: 10px;
    }
}