/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/registration/Registration.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.Registration_authorization__mqVHT {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 100%;
    background-color: rgba(77, 104, 135, 1);
    padding: 80px 45px 0px 45px;
}

.Registration_h1__7EeC9 {
    font-size: 32px;
    font-weight: 500;
    color: white;
    margin-bottom: 80px;
}

.Registration_form__Z1sKR {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Registration_input__WmhH4 {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 13px 20px 13px 54px;
    border: none;
}

.Registration_input__WmhH4:focus {
    border: 1px solid rgba(197, 26, 26, 1);
}

.Registration_input__WmhH4::placeholder {
    font-size: 16px;
    color: rgba(38, 71, 148, 0.3);
}

.Registration_inputContainer__F37vL {
    position: relative;
}

.Registration_inputIcon__fe21T {
    position: absolute;
    left: 20px;
    top: 13px;
}

.Registration_buttons__aVUT4 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Registration_enter__f8cPt {
    font-size: 16px;
    background-color: rgba(197, 26, 26);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: none;
    cursor: pointer;
}

.Registration_regestration__XAKOF {
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: solid 2px rgba(197, 26, 26, 1);
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.Registration_logo__ER2Qt {
    position: absolute;
    width: 404px;
    height: 404px;
    left: 0;
    bottom: 0;
    pointer-events: none
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/welcome/welcome.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.welcome_welcomeContainer__vdbSH {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url(/_next/static/media/bcgWelcome.32b860a7.svg);
    width: 100%;
    background-size: cover;
    padding: 20px 60px 12px 60px;
}

.welcome_header__7cP8R {
    display: flex;
    justify-content: flex-end;
}

.welcome_contacts__fO2Lg {
    display: flex;
    gap: 30px;
}

.welcome_link__WD1vT {
    display: flex;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.welcome_welcomeContent__PJXoR {
    position: relative;
    width: 100%;
    min-width: 1260px;
    height: 100%;
    -webkit-mask-image: url(/_next/static/media/blueMask.8a7dd01c.png);
            mask-image: url(/_next/static/media/blueMask.8a7dd01c.png);
    background-color: #6CBBE3;
    -webkit-mask-size: cover;
            mask-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.welcome_logo__x6OyN {
    width: 170px;
    height: 150px;
    position: absolute;
    top: 20px;
    z-index: 99;
}

.welcome_girl___lbu0 {
    margin-left: auto;
    height: 100%;
    width: auto;
}

.welcome_footer__KvKXb {
    font-size: 14px;

}

.welcome_redline__s56lU {
    border-right: 1px solid rgba(197, 26, 26, 1);
    padding-right: 10px;
}

.welcome_footerText__drO43 {
    padding-left: 10px;
}

.welcome_welcomeTextContainer__nNAPX {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 60px;
}

.welcome_mainText__nEkuW {
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 10px;
}

.welcome_text__EMHT9 {
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome_subText__EX9yp {
    color: #FFFFFF;
    font-size: 28px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/registration/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.page_flexContainer__MddRO {
    display: flex;
    height: 100%;
    width: 100%;
}
